.chat-right {
  width: 50%;
  /* display: flex; */
  flex-direction: column;
  transition: transform 0.3s ease-in-out; /* Animation for sliding */
  transform: translateX(100%); /* Start off-screen */
  position: absolute; /* Positioned absolutely */
  right: 0; /* Align to the right */
  top: 0;
  bottom: 0;
}

.chat-right.visible {
  transform: translateX(0); /* Slide in */
  height: 90vh;
}

.toggle-button {
  position: absolute; /* Position the button absolutely */
  right: 10px; /* Align to the right */
  top: 10px; /* Align to the top */
  background: #007bff; /* Blue background for toggle button */
  color: #fff;
  border: none;
  border-radius: 20px; /* Rounded button */
  cursor: pointer;
  padding: 10px 20px;
  outline: none; /* Remove outline */
  z-index: 10; /* Ensure the button is above other elements */
}

.toggle-button:hover {
  background: #0056b3; /* Darker blue on hover */
}

iframe {
  flex: 1;
  border: none;
  border-radius: 10px; /* Rounded corners for iframe */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  height: 99vh;
}
